#button_screen {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.circular_button {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #1f1719;
  transition: 0.5s transform;
}

/*Media query para smartphone*/
@media only screen and (max-width: 768px) {
  #button_screen {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .circular_button {
    justify-self: center;
    width: 85vw;
    border-radius: 5px;
    background-color: #1f1719;
  }

  .circular_button:hover {
    transform: scale(1.01) !important;
  }

  #slogan {
    visibility: hidden;
  }
  
}

.circular_button:hover {
  transform: scale(1.1);
}

.circular_button:hover h1 {
  transform: scale(1.1);
}

.circular_button h1 {
  transition: 0.5s transform;
  font-family: Microsoft YaHei UI;
  font-size: 4em;
  color: #ffffff;
}

/*Media query para tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  #button_screen {
    display: block;
    width: 100%;
    text-align: center;
  }

  .circular_button {
    margin: 5%;
  }
}

#slogan {
  text-align: center;
  color: #ffffff;
  font-style: bold;
  font-family: monospace;
  margin: 50px;
}