#button_screen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*Media query para smartphone*/
@media only screen and (max-width: 768px) {
  #button_screen {
    display: block;
    margin-top: 10px;
    width: 100%;
    min-width: 0px;
    margin-bottom: 20px;
    text-align: center;
  }

  .circular_button {
    height: 200px;
    width: 95%;
    border-radius: 5px;
    margin: 10px;
  }
}

.circular_button {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #1f1719;
  transition: 0.5s transform;
}

.circular_button:hover {
  transform: scale(1.1);
}

.circular_button:hover h1 {
  transform: scale(1.1);
}

.circular_button h1 {
  transition: 0.5s transform;
  font-family: Microsoft YaHei UI;
  font-size: 4em;
  color: #ffffff;
}

/*Media query para tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  #button_screen {
    display: block;
    width: 100%;
    text-align: center;
  }

  .circular_button {
    margin: 5%;
  }
}

