article {
  border: 3px solid #1f1719;
  margin: 60px;
  text-align: center;
  background-color: #382a2de8;
  border-radius: 20px;
  padding: 50px;
  font-family: serif;
}

article h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 60px;
  color: rgb(255, 255, 255);
}

article div {
  text-align: justify;
  font-size: 1.5em;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.719);
}

article img {
  max-width: min(1000px, 100%);
}


@media only screen and (max-width: 768px) {
  article {
    margin: 20px;
    height: auto;
    margin-top: 50px;
  }

  #noticia1 {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
