.grid_news {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas:
    "new1 new2 new3"
    "new4 new4 new3"
    "new5 new5 new3"
    "new6 new6 new6";
  grid-gap: 10px;
  grid-auto-rows: 300px;
  padding: 30px;
}


.grid_news button{
  display: grid;
  grid-template-rows: 80% 20%;
  padding: 10px;
  background-color: #1f1719;
  transition: 500ms background-color;
}

.grid_news button:hover{
  background-color: #0f0f0f
}

.grid_news button h1 {
  font-size: medium;
  grid-row: 2;
  color: white;
}

.grid_news button img {
  max-height: 100%;
  max-width: 100%;
  justify-self: center;
  align-self: center;
  grid-row: 1;
  border-radius: 10px;
}

.new1 {
  grid-area: new1;
  border-radius: 20px;
  min-width: 200px;
}

.new2 {
  grid-area: new2;
  border-radius: 20px;
  min-width: 200px;
}

.new3 {
  grid-area: new3;
  border-radius: 20px;
  grid-row: span 3;
  min-width: 200px;
}

.new4 {
  grid-area: new4;
  border-radius: 20px;
  min-width: 200px;
}
.new5 {
  grid-area: new5;
  border-radius: 20px;
  min-width: 200px;
}
.new6 {
  grid-area: new6;
  border-radius: 20px;
  min-width: 200px;
}
/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .grid_news {
    display: grid;
    margin-top: 50px;
    text-align: center;
    grid-template-areas:
      "new1"
      "new2"
      "new3"
      "new4"
      "new5"
      "new6";
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .new1 {
    grid-area: new1;
    border-radius: 20px;
    min-width: 200px;
  }

  .new2 {
    grid-area: new2;
    border-radius: 20px;
    min-width: 200px;
  }

  .new3 {
    grid-area: new3;
    border-radius: 20px;
    min-width: 200px;
  }

  .new4 {
    grid-area: new4;
    border-radius: 20px;
    min-width: 200px;
  }

  .new5 {
    grid-area: new5;
    border-radius: 20px;
    min-width: 200px;
  }
  .new6 {
    grid-area: new6;
    border-radius: 20px;
    min-width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .grid_news {
    display: grid;
    margin-top: 50px;
    text-align: center;
    grid-template-areas:
      "new1 new2"
      "new3 new3"
      "new4 new4"
      "new5 new5"
      "new6 new6";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .new1 {
    grid-area: new1;
    border-radius: 20px;
    min-width: 200px;
  }

  .new2 {
    grid-area: new2;
    border-radius: 20px;
    min-width: 200px;
  }

  .new3 {
    grid-area: new3;
    border-radius: 20px;
    min-width: 200px;
  }

  .new4 {
    grid-area: new4;
    border-radius: 20px;
    min-width: 200px;
  }

  .new5 {
    grid-area: new5;
    border-radius: 20px;
    min-width: 200px;
  }
  .new6 {
    grid-area: new6;
    border-radius: 20px;
    min-width: 200px;
  }
}
