
.grid_profile {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #1f1719;
  grid-template-areas:
    "profile_image settings"
    "biography settings"
    "biography settings"
    "biography settings";
    border-radius: 20px;
  grid-gap: 10px;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.biography {
  grid-area: biography;
  background-color: white;
  border-radius: 20px;
  min-width: 200px;
  margin-bottom: 20px;
  margin-left: 20px;

}

.profile_image {
  grid-area: profile_image;
  background-color: white;
  border-radius: 50%;
  min-width: 200px;
  width: 250px;
  height: 250px;
  justify-self: center;
  margin-top: 20px;
  
}

.settings {
  grid-area: settings;
  background-color: white;
  border-radius: 20px;
  min-width: 200px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/*Media query para smartphone*/
@media only screen and (max-width: 768px) {
.grid_profile {
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-template-areas:
"profile_image profile_image"
"biography biography"
"settings settings";
}
.biography {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.settings {
  margin-right: 0;
  margin-left: 20px;
  margin-right: 20px;
}
}
