#profile_panel {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#profile_frame {
  background-color: #cdcdcd;
  display: flex;
  height: 80%;
  width: 90%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

#biography {
  position: absolute;
  background-color: white;
  border-radius: 20px;
  width: 45%;
  height: 35%;
  bottom: 13%;
  left: 30%;
  transform: translate(-50%, 0%);
}

#profile_image {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  top: 12%;
  left: 30%;
  transform: translate(-50%, 0%);
}

#settings {
  position: absolute;
  background-color: white;
  border-radius: 20px;
  width: 25%;
  height: 71%;
  bottom: 13.5%;
  left: 76%;
  transform: translate(-50%, 0%);
  text-align: center;
}

/*Media query para smartphone*/
@media only screen and (max-width: 768px) {
  #settings {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 35%;
    height: 35%;
    bottom: 13%;
    left: 75%;
    transform: translate(-50%, 0%);
  }
  #profile_image {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    top: 14%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
