#user_data {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

#user_data input {
  border-color: rgb(163, 163, 163);
  border-style: solid;
  border-radius: 5px;
  padding-left: 10px;
  transition: border-color 0.35s ease-in-out;
  
}

#user_data input:focus {
  border-color: rgb(100, 100, 100);
  outline: none;
}

.sign_buttons {
  margin-top: 30px;
  position: relative;
}

.sign_buttons button {
  margin-right: 40px;
  padding: 6px;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 5px;
  color: rgb(73, 73, 73);
  transition: border 0.35s, color 0.35s;
  background-color: rgb(236, 236, 236);

}

.sign_buttons button:hover {
  margin-right: 40px;
  padding: 6px;
  border: 1px solid rgb(0, 0, 0);
}
#welcome_message{
  margin-top: 20px;
}
#error_message{
  margin-top: 220px;
  position: absolute;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

