#user_data{
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.sign_buttons {
    margin-top: 30px;
}

.sign_buttons button {
    margin-right: 40px;
}
