html, body {  
    margin:0px;  
    height:100%;  
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}

header {
    background-color: #CDCDCD;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
}

button {
    border: 0px;
}

/*Barra de navegación*/
#home_button {
    width: 5%;
    background-color: transparent;
    float: left;
    vertical-align: middle;
    margin-top: 3px;
}

#search_button {
    width: 5%;
    background-color: transparent;
    float: right;
    vertical-align: middle;
    margin-top: 6px;
}

#user_button {
    width: 5%;
    background-color: transparent;
    float: right;
    vertical-align: middle;
    margin-top: 6px;

}

/*Botonera principal de index.html*/
#botonera {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    min-width: 750px;
    height: 400px;
}

.boton_circular {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #CDCDCD;
}

/*Scroll horizontal del home*/
#scroll_horizontal_area {
    height: 300px;
    background-color: #CDCDCD;
    overflow-x: scroll;
    white-space: nowrap;
}

.scroll_card {
    width: 300px;
    height: 250px;
    display: inline-block;
    border: 0;
    background-color: white;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 15px;
}


/*Estilo de la pagina try.html*/
#botonera_juego {
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#botonera_juego button {
    height: 90%;
    width: 33%;
    }

    
/*Estilo de la página de noticias*/
#frame_noticias {
    height: 100%;
    margin-top: 70px;
    overflow-y: scroll;
}

#frame_noticias button {
    height: 300px;
    width: 400px;
    margin: 40px;
    background-color: #CDCDCD;
    border-radius: 20px;

}

/*Estilo de las noticias*/
article {
    border:1px solid white;
    margin-top: 60px;
    text-align: center;
    background-color: #CDCDCD;
   }

.noticia {
    margin-bottom: 60px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    background-color: white;
   }

#noticia1{
    margin-top: 20px;
    background-color: #CDCDCD;
    width: 430px;
    height: 260px;
}

/*Estilo del game.html*/

#pantalla_juego {
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button.boton_opcion {
    height: 80%;
    width: 44%;
    border-radius: 50px;
    background-color: #CDCDCD;
    }

#score {
    position: fixed;
    top: 40px;
    right: 100px;
}

#human_message {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Estilo del footer*/
footer {
    background-color: #CDCDCD;
    height: 40px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#footer_text {
    margin-top: 5px;
}