html,
body {
  margin: 0px;
  height: 100%;
}

header button img {
  transition: 500ms transform;
}

header button img:hover {
  transform: scale(1.2);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  background: url(../img/logo_blur.png) no-repeat center center fixed;
  -webkit-background-size: cover;
}

main {
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
}

header {
  background-color: #1f1719;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: sticky;
  top: 0;
}

footer {
  grid-row: 3;
}

header button {
  background-color: transparent;
}

header img {
  max-height: 30px;
}

#home_button {
  grid-row: 1;
  grid-column: 1;
}


#search_button {
  grid-row: 1;
  grid-column: 11;
}

#search_button img {
  height: 20px;
  width: 20px;
}

#user_button {
  grid-row: 1;
  grid-column: 12;
}

#user_button img {
  height: 20px;
  width: auto;
}

button {
  border: 1px;
}

/*Estilo del footer*/
footer {
  background-color: #1f1719;
}

#footer_text {
  margin-top: 5px;
  color: antiquewhite;
}
