html,
body {
  margin: 0px;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}

main {
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
}

header {
    background-color: #CDCDCD;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: sticky;
    top: 0;
}

footer {
  grid-row: 3;
  margin: 0;
}

header button {
  background-color: transparent;
}

#home_button {
  grid-row: 1;
  grid-column: 1;
}

#search_button {
  grid-row: 1;
  grid-column: 11;
}

#user_button {
  grid-row: 1;
  grid-column: 12;
}
    
button {
  border: 1px;
  transition: background-color 0.4s, border 0.4s, transform 0.4s;
}

button:hover {
  border: 1px solid black;
  background-color: transparent;
}
/*Barra de navegación*/


/*Estilo del footer*/
footer {
  background-color: #cdcdcd;
}

#footer_text {
  margin-top: 5px;
}

.circular_button {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #1f1719;
}
