#botonera_personas {
  width: 100%;
  display: block;
  height: fit-content;
  text-align: center;
}

#botonera_personas button {
  margin: 30px;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  #botonera_personas {

  }

  #botonera_personas button {
    width: 80%;
    height: 200px;
    margin: 20px;
    border-radius: 60px;
  }
}
